body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.banner {
  background-image: url('d10.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.navbar {
  padding: 1rem 2rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  margin-left: 1rem;
}

.btn {
  /* padding: 0.75rem 1.5rem; */
  font-size: 5rem;
  margin-top: 180%;
  margin-right: 100%;
  margin-left: 300%;

}


.category-card {
  border-radius: 8px;
  overflow: hidden;
}

.category-card img {
  width: 100%;
  height: auto;
  display: block;
}

.category-title {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}



.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}